<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>CRUD Mission - Quarkus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("CarManagement", []);

        //Controller Part
        app.controller("CarManagementController", function ($scope, $http) {

            //Initialize page with default data which is blank in this example
            $scope.cars = [];
            $scope.types = [];

            $http({
              method: "GET",
              url: "/cars/types",
              headers: {
                'Content-Type': 'application/json'
              }
            }).then((response) => {
              $scope.types = response.data;
              console.log(response.data);
            }, _error);

            $scope.form = {
                id: -1,
                name: "",
                type: $scope.types[0]
            };

            //Now load the data from server
            _refreshPageData();

            //HTTP POST/PUT methods for add/edit cars
            $scope.update = function () {
                var method = "";
                var url = "";
                var data = {};

                if ($scope.form.id == -1) {
                    //Id is absent so add car - POST operation
                    method = "POST";
                    url = '/cars';
                    data.name = $scope.form.name;
                    data.type = $scope.form.type;
                } else {
                    //If Id is present, it's edit operation - PUT operation
                    method = "PUT";
                    url = '/cars/' + $scope.form.id + '/' + $scope.form.name + '/' + $scope.form.type;
                }

                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            };

            //HTTP DELETE- delete car by id
            $scope.remove = function (car) {
                $http({
                    method: 'DELETE',
                    url: '/cars/' + car.id
                }).then(_success, _error);
            };

            //In case of edit car, populate form with car data
            $scope.edit = function (car) {
                $scope.form.name = car.name;
                $scope.form.id = car.id;
                $scope.form.type = car.type;
            };

            /* Private Methods */
            //HTTP GET- get all car collection
            function _refreshPageData() {
                $http({
                    method: 'GET',
                    url: '/cars'
                }).then(function successCallback(response) {
                    $scope.cars = response.data;
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }

            function _success(response) {
                _refreshPageData();
                _clearForm()
            }

            function _error(response) {
                alert(response.data.message || response.statusText);
            }

            //Clear the form
            function _clearForm() {
                $scope.form.name = "";
                $scope.form.id = -1;
            }
        });
    </script>
</head>
<body ng-app="CarManagement" ng-controller="CarManagementController">

<div class="container">
    <h1>CRUD Mission - Quarkus</h1>
    <p>This application demonstrates how a Quarkus application implements a CRUD endpoint to manage fruits.
        This management interface invokes the CRUD service endpoint, which interacts with a database using JPA and several other well known libraries.
    </p>
    <p>Behind the scenes, we have:
    <ul>
        <li>Hibernate Reactive taking care of all CRUD operations</li>
        <li>RESTEasy Reactive powering the REST API</li>
        <li>ArC, a CDI based dependency injection framework</li>
        <li>The Undertow webserver</li>
        <li>Some magic bytecode generation plugged in the compiler...</li>
    </ul>
    </p>

    <h3>Add/Edit a car</h3>
    <form ng-submit="update()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
            <div class="col-6">
              <select ng-model="form.type">
                <option value="" disabled selected>Type</option>
                <option ng-repeat="cartype in types" value="{{ cartype }}">{{ cartype }}</option>
              </select>
            </div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Car List</h3>
    <div class="row">
        <div class="col-2">Name</div>
    </div>
    <div class="row" ng-repeat="car in cars">
        <div class="col-2">{{ car.name }}<br/>{{ car.type }}</div>
        <div class="col-8"><a ng-click="edit( car )" class="btn">Edit</a> <a ng-click="remove( car )" class="btn">Remove</a>
        </div>
    </div>
</div>

</body>
</html>